@import "../../../styles/variables.scss";

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
  }
}
